@font-face {
  font-family:mermaid;
  src: url(fonts/Mermaid1001.ttf);
}

body {
  text-align: center;
  background-color: #ccbbb1;
}

nav {
  text-align: center;
  font-size: 2rem;
  color: #696969;
  text-decoration: none;
}

nav ul {
  display: inline-block;
  list-style-type: none;
  text-decoration: none;
  color: #454444;
  text-align: center;
}

nav ul li {
  width: 200px;
  float: left;
  text-align: center;
}

nav ul li a {
  color: #454444;
  text-decoration: none;
  font-family: mermaid;
}

ul {
  padding-inline-start: 0;
}